/**
 *  Violet is a clean HTML5 theme for LuCI. It is based on luci-theme-material
 *
 *  luci-theme-material
 *      Copyright 2015 Lutty Yang <lutty@wcan.in>
 *
 *  Licensed to the public under the Apache License 2.0
 */

/*
 *  Font generate by Icomoon<icomoon.io>  Advancetomato
 */

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/font.eot');
    src: url('../fonts/font.eot') format('embedded-opentype'),
    url('../fonts/font.ttf') format('truetype'),
    url('../fonts/font.woff') format('woff'),
    url('../fonts/font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "advancedtomato";
    src:url("../fonts/advancedtomato.eot");
    src:url("../fonts/advancedtomato.eot?#iefix") format("embedded-opentype"),
        url("../fonts/advancedtomato.woff") format("woff"),
        url("../fonts/advancedtomato.ttf") format("truetype"),
        url("../fonts/advancedtomato.svg#advancedtomato") format("svg");
    font-weight: normal;
    font-style: normal;

}

 
.cbi-button-up,
.cbi-button-down,
.cbi-value-helpicon,
.showSide,
.main > .loading > span {
    font-family: 'icomoon', Roboto !important;
    font-size:10px;
    speak: none;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, 'Microsoft Yahei' !important;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    clear:both;
}


html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Roboto, 'Microsoft Yahei' !important;
    font-size:10pt;
    line-height: 150%;
    /*color:#76838f;*/
	color:rgb(132,119,116);
    /*min-width: 960px;*/
}

body div {
    line-height:150%;
}

a {
    color: rgb(154,37,143);
    text-decoration: none;
}

em {font-style:normal !important;}

select {
    padding: 0.36rem 0.8rem;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

select,
input {
    color: #76838f;
    padding: 6px 10px;
    margin: 0;
    height: 34px;
    line-height: normal;
    font-size: 10pt;
    font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
    border: 1px solid #e4eaec;
    background-color: #fff;
    transition: color 150ms ease, border-color 150ms ease, opacity 150ms ease;
    -webkit-transition: color 150ms ease, border-color 150ms ease, opacity 150ms ease;
    outline-style: none;
    vertical-align: baseline;
    border-radius: 3px;
}

select:not([multiple="multiple"]):focus,
input:focus {
    border-color: #948FE1;
	box-shadow:0 0 6px #948FE1;
	-webkit-box-shadow:0 0 6px #948FE1;
	-moz-box-shadow:0 0 6px #948FE1;
}

select[multiple="multiple"] {
    height: auto;
}

code {
    color: #0099CC;
}

abbr {
    color: #333;
    text-decoration: underline;
    cursor: help;
}

hr{
    margin: 1rem 0;
    border-color: #EEE;
    opacity: 0.1;
}

header, .main {
    width: 100%;
    position: absolute;
}

header {
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    transition: box-shadow .2s;
    float: left;
    position: fixed;
    z-index: 101;
}

footer {
    text-align: right;
    padding: 1rem;
    color: #aaa;
    font-size: 11px;
    /*text-shadow: 0px 0px 2px #BBB;*/
}

footer > a {
    color: rgb(154,37,143);
    text-decoration: none;
}

.myIcon{
    font-family: "advancedtomato" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
}

.myIcon-logout:after{
	content: "\e005";
}

.myIcon-reboot:after{
	content: "\e02a";
}

.myIcon-wifi:after{
	content: "\e00c";
}

.main {
    top: 4rem;
    bottom: 0rem;
    position: relative;
    height: 100%;
    height: calc(100% - 4rem);
}

.main > .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
    background-color: rgb(240, 240, 240);
    top: 0;
}

.main > .loading > span {
    display: block;
    text-align: center;
    margin-top: 2rem;
    color: #888;
    font-size: 14px;
}

.main > .loading > span > .loading-img:before {
    content: "\e603";
}

.main > .loading > span > .loading-img {
    animation: anim-rotate 2s infinite linear;
    margin-right: 0.2rem;
    display: inline-block;
}

@keyframes anim-rotate {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.main-left {
    float: left;
    top: 4rem;
    width: 17rem;
    bottom: 0rem;
    background-color: rgb(229,229,229);

    overflow-x: auto;
    position: fixed;
}

.main-right {
    width: 85%;
    width: calc(100% - 17rem);
    float: right;
    height: 100%;
    background-color: rgb(242,242,242);
}

.main-right > #maincontent {
    background-color: #f1f4f5;
}

.pull-right {
    float: right;
    margin-top:10px;
    margin-right:10px;
}

.pull-right span {
    font-size:11px !important;
}

.pull-left {
    float: left;
}

header {
    background: #fff;
    color: white;
}

header > .container {
margin:0;
padding:0;
}

header > .container > .brand {
    font-size: 32px;
	/*font-weight:bold;*/
    line-height:60px;
    /*color: white;*/
	color:rgb(111,42,142);
    cursor: default;
    /*background: rgb(148,143,225);*/
    display:block;
    width:17rem;
    padding-right: 10px;
    height:60px;
    text-align:center;
    float:left;
    font-weight:900;
    letter-spacing:3px;
}
header > .container > a[class="brand"]:after {
    content:"®";
    font-size:14px;
    font-family:Tahoma;
    position: absolute;
    top:-10px;
    font-weight:normal !important;
}

header > .container > .brand-hostname {
    font-size: 14px;
    line-height:60px;
    color: #555555;
    cursor: default;
    display:block;
    width:17rem;
    padding-right: 10px;
    height:60px;
    text-align:left;
    float:left;
	margin-top: 7px;
	font-weight:300;
	margin-left: -15px;
}

.warning {
    background-color: #FF7D60 !important;
    color: #FFF;
}

.errorbox,
.alert-message {
    margin: 5px 0 0 0;
    padding: 2rem;
    border: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-family: inherit;
    min-width: inherit;
    overflow: auto;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
}

.errorbox {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.error {
    color: red;
}

#maincontent > .container > div:nth-child(1).alert-message.warning > a {
    font: inherit;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    min-width: 6rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin-top: 2rem;
    text-decoration: inherit;
}

.main > .main-left > .nav {
	overflow-y: visible !important;
    font-size: 11pt;
	width: 90%;
	margin: 0 auto;
	margin-top: 2rem;
}

.main > .main-left > .nav > li a {
	/*color: black;*/
	font-weight:bold;
	display: block;
	background-color: rgb(255,255,255);
	padding-top:6px;
	border: 0px solid #eee;
	border-radius: 4px;
	box-shadow: 4px 4px 4px rgba(0,0,0,.05);
    cursor: pointer;
}

/*
.main > .main-left > .nav > li:nth-last-child(1) {
    font-size: 11pt;
    height:40px;
	padding-top:6px;
}
*/

.main > .main-left > .nav > li {
    cursor: pointer;
	padding-top:6px;
}

 

.main > .main-left > .nav > .slide {
    padding: 0;
	padding-top:6px;
}
.main > .main-left > .nav > .slide > a[data-title="Status"]:before {
    content: "\e026";
    display: inline-block;
    top: -1px;
    left:-10px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    font-family: "advancedtomato" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.main > .main-left > .nav > .slide > a:before {
    display: inline-block;
    top: -1px;
    left:-10px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    font-family: "advancedtomato" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


.main > .main-left > .nav > .slide > a[data-title="Status"]:before {
    content: "\e026";
}

.main > .main-left > .nav > .slide > a[data-title="System"]:before {
    content: "\e01c";
}

.main > .main-left > .nav > .slide > a[data-title="Network"]:before {
    content: "\e00e";
}
.main > .main-left > .nav > .slide > a[data-title="Usbapps"]:before {
    content: "\e00b";
}
.main > .main-left > .nav > .slide > a[data-title="Services"]:before {
    content: "\e029";
}
.main > .main-left > .nav > .slide > a[data-title="NAS"]:before {
    content: "\e00b";
}


.main > .main-left > .nav > li > a[data-title="Logout"]:before {
    content: "\e005";
}

.main > .main-left > .nav > li > a[data-title="Reboot"] {
    padding-left:36px;
    line-height:40px;
}
.main > .main-left > .nav > li > a[data-title="Reboot"]:before {
    content: "\e004";
    display: inline-block;
    top: -1px;
    left:-10px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    font-family: "advancedtomato" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.main > .main-left > .nav > .slide > ul {
    display: none;
    list-style:dotted;
}

.main > .main-left > .nav > .slide > .menu {
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    cursor: pointer;;
}

.main > .main-left > .nav > li:hover,
.main > .main-left > .nav > .slide > .menu:hover {
    background: rgb(133,129,216);
	color:white;
}

.main > .main-left > .nav > .slide:hover {
    background: none;
}
.slide-menu {
    overflow:hidden;
    }
.main > .main-left > .nav > .slide > .slide-menu > li {
	padding-left: 30px;
	padding-bottom: 4px;
    font-size:12px !important;
    position: relative;
	background-color: rgb(255,255,255);
	margin-top:4px;
	margin-left: 15px;
	border: 1px solid #eee;
	border-radius: 5px;
}



.main > .main-left > .nav > .slide > .slide-menu > .active {
    background-color: rgb(133,129,216);
}

.main > .main-left > .nav > .slide > .slide-menu > li > a {
    position: relative;
    display: block;
    color: #555;
    /*text-shadow: 0px 1px 3px #222;*/
    vertical-align: middle;
	background:none !important;
	border: none !important;
}
.main > .main-left > .nav > .slide > .slide-menu > li > a:after{
	font-family: "advancedtomato" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
	content: "\e001";
	float: right;
	padding-right: 5px;
}

.main > .main-left > .nav > .slide > .slide-menu > li > a:hover {
	color:white;
}

.main > .main-left > .nav > .slide > .slide-menu > .active > a {
    color: white;
}

.main > .main-left > .nav > .slide > .slide-menu > li:hover {
    background: rgb(133,129,216);
	color:white !important;
}

.main > .main-left > .nav > .slide > .slide-menu > .active:hover {
    background-color: rgb(133,129,216);
    cursor: pointer;
}

li {
    list-style-type: none;
}

#maincontent > .container {
    margin:40px 40px 40px 50px;
}

h1 {
	color:rgb(133,129,216);
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

h2 {
	color:rgb(133,129,216);
    margin: 15px 0 0 0;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 5px;
}

h3 {
	color:rgb(133,129,216);
    margin: 5px 0 0 0;
    font-size: 10pt;
    padding-bottom: 10px;
}

h4 {

}

label {
	display: inline-block;  
    padding: 0px 10px;  
    vertical-align: middle;  
}
fieldset {
    margin: 10px 0 0 0;
    padding: 2rem;
    border: 1px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-family: inherit;

    min-width: inherit;
    overflow-x: hidden;
    overflow-y: hidden;

    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0,0,0,.05);
    border-radius: 4px;
    -webkit-overflow-scrolling: touch;
}

fieldset > legend {
    display: none !important;
}

fieldset > fieldset {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.panel-title {
    width: 100%;
    display: block;
    line-height: 1;
    color: #76838f;
    font-size: 10pt;
    padding-bottom: 10px;
	font-weight:bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #eee;
}

table > tbody > tr > td, table > tbody > tr > th, table > tfoot > tr > td, table > tfoot > tr > th, table > thead > tr > td, table > thead > tr > th {
    padding: 12px;
    line-height: 1.42857143;
    border-top: 0px dashed #EEE;
	
    white-space: nowrap;
}

.cbi-section-table-cell {
    text-align: center;
}

.cbi-section-table-row {
    text-align: center;
}

.cbi-section-remove{
	margin-bottom: 10px;
}

fieldset > table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* fix progress bar */
#swaptotal > div,
#swapfree > div,
#swapcache > div,
#memfree > div,
#membuff > div,
#conns > div,
#memcache > div,
#memtotal > div {
    width: 100% !important;
    border-color:#ccc !important;
    height:20px !important;
    color:#76838f !important;
}

#swaptotal > div > div,
#swapfree > div > div,
#swapcache > div > div,
#memfree > div > div,
#membuff > div > div,
#conns > div > div,
#memcache > div > div,
#memtotal > div > div {
    height: 1.4rem !important;
    background-color: #e4eaec !important;
}

/* fix multiple table */

table table {
    border: none;
}

.cbi-value-field table {
    border: none;
}

td > table > tbody > tr > td {
    border: none;
}

.cbi-value-field > table > tbody > tr > td {
    border: none;
}

/* button style */

.cbi-button {
    -webkit-appearance: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #337ab7;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10pt;
    width: auto !important;
	min-width: 80px;
}

.cbi-button:hover,
.cbi-button:focus,
.cbi-button:active {
    color: #fff;
    outline: 0;
    text-decoration: none;
	background-color: rgb(106,101,214);
}

.cbi-button:hover,
.cbi-button:focus {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.cbi-button:active {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.cbi-button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.60;
    box-shadow: none;
}

form.inline + form.inline,
.cbi-button + .cbi-button {
    margin-left: 0.6rem;
}

.cbi-button-reset,
.cbi-input-remove {
    color: #fff !important;
    background-color: #617486 !important;
}

.cbi-button-reset:hover,
.cbi-input-remove:hover,
.cbi-button-remove:hover{
    color: #fff !important;
    background-color: rgb(83,100,115) !important;
}

.cbi-button-link,
.cbi-input-find,
.cbi-input-save,
.cbi-button-add,
.cbi-button-save,
.cbi-button-find,
.cbi-input-reload,
.cbi-button-reload {
    color: #fff !important;
    background-color: rgb(0,171,232) !important;
    border-color: rgb(0,171,232) !important;
}

.cbi-button-link:hover,
.cbi-input-find:hover,
.cbi-input-save:hover,
.cbi-button-add:hover,
.cbi-button-save:hover,
.cbi-button-find:hover,
.cbi-input-reload:hover,
.cbi-button-reload:hover{
	color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.cbi-input-apply,
.cbi-button-apply,
.cbi-button-edit {
    color: #fff !important;
    background-color: rgb(148,143,225);
}

.cbi-input-reset,
.cbi-button-remove {
    color: #fff !important;
	background: #617486;
}

.cbi-tab{
	font-weight:bold;
}

.a-to-btn {
    text-decoration: none;
}

/* table */

.tabs {
    padding-left: 0.5rem;
    background-color: #FFFFFF;
}

.cbi-tabmenu > li,
.tabs > li {
    display: inline-block;
    padding: 0.9rem 0rem;
}

.cbi-tabmenu > li > a,
.tabs > li > a {
    text-decoration: none;
    color: #76838f;
    padding: 0.9rem 1.5rem;
}

.tabs > li[class~="active"],
.tabs > li:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(133,129,216);

}

.tabs > li[class~="active"] > a {
	color:rgb(133,129,216) !important;
	font-weight:bold;
}

.tabs > li:hover {
    /*border-bottom: 0.18751rem solid rgb(133,129,216);*/
}

.cbi-tabmenu {
 	border-top: 1px solid #e4eaec;
 
	border-left: 1px solid #e4eaec;
    border-right: 1px solid #e4eaec;
 
    background-color: #F7F7F7;
}

.cbi-tabmenu > li:hover {
    background-color: #F1F1F1;
}

.cbi-tabmenu > li[class~="cbi-tab"] {
    background-color: white;
}


.cbi-section-node-tabbed {
    padding: 0;
    margin-top: 0;
    border-bottom: 1px solid #e4eaec;
    border-left: 1px solid #e4eaec;
    border-right: 1px solid #e4eaec;
}

.cbi-tabcontainer {
    clear:both;
}
.cbi-tabcontainer > .cbi-value:nth-of-type(2n) {
    background-color: #f9f9f9;
}

.cbi-value-field,
.cbi-value-description {
    display: table-cell;
}

.cbi-value-helpicon > img {
    display: none;
}

.cbi-value-helpicon:before {
    content: "\f059";
}

.cbi-value-description {
    font-size: small;
    opacity: 0.5;
    padding: 0.5rem 0 0 0;
}

.cbi-value-title {
    word-wrap: break-word;
    line-height:150%;
    vertical-align: middle;
    padding:6px 10px;
    width: 23rem;
    float: left;
    text-align: right;
    display: table-cell;
}

.cbi-value {
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
	display:block;
    width: 100%;
    border-top:0px dashed #e4eaec;
}

.cbi-section-table-descr > .cbi-section-table-cell,
.cbi-section-table-titles > .cbi-section-table-cell {
    border: none;
}

.cbi-rowstyle-2 {
    background-color: #F9FBFB;
}

.cbi-rowstyle-2 .cbi-button-up,
.cbi-rowstyle-2 .cbi-button-down{
    background-color: #FFF !important;
}

.cbi-section-table .cbi-section-table-titles .cbi-section-table-cell {
    width: auto !important;
}

/* desc */
.cbi-section-descr,
.cbi-map-descr {
    margin-bottom:10px;
    padding-left:5px;
    font-size: small;
}

/* luci */

.hidden {
    display: none
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.inline {
    display: inline;
}

.cbi-page-actions {
    text-align: right;
}

/* input */
.cbi-value input[type="password"],
.cbi-value input[type="text"] {
    min-width: 15rem;
}

/* select */
.cbi-value-field .cbi-input-select {
    min-width: 15rem;
}

.ifacebadge {
    display: inline-flex;
    padding: 0.5rem 1rem;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ifacebadge > img {
    float: right;
    margin-left: 0.3rem;
}

/*textarea*/

.cbi-input-textarea {
    color: #76838f;
    padding: 6px 10px;
    margin: 0;
    line-height: normal;
    font-size: 10pt;
    font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
    border: 1px solid #e4eaec;
    background-color: #fff;
    transition: color 150ms ease, border-color 150ms ease, opacity 150ms ease;
    -webkit-transition: color 150ms ease, border-color 150ms ease, opacity 150ms ease;
    outline-style: none;
    vertical-align: baseline;
    border-radius: 3px;
}

#syslog {
    width: 100%;
    min-height: 15rem;
    padding: 1rem;
    font-size: small;
    color: #5F5F5F;

    margin-bottom: 20px;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    border: none;
}

/* change */
#wan4_i, #wan6_i {
width:50px !important;
}

.uci-change-list {
    font-family: monospace;
}

.uci-change-list ins,
.uci-change-legend-label ins {
    text-decoration: none;
    border: 1px solid #00FF00;
    background-color: #CCFFCC;
    display: block;
    padding: 2px;
}

.uci-change-list del,
.uci-change-legend-label del {
    text-decoration: none;
    border: 1px solid #FF0000;
    background-color: #FFCCCC;
    display: block;
    font-style: normal;
    padding: 2px;
}

.uci-change-list var,
.uci-change-legend-label var {
    text-decoration: none;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    display: block;
    font-style: normal;
    padding: 2px;
}

.uci-change-list var ins,
.uci-change-list var del {
    border: none;
    white-space: pre;
    font-style: normal;
    padding: 0px;
}

.uci-change-legend {
    padding: 5px;
}

.uci-change-legend-label {
    width: 150px;
    float: left;
}

.uci-change-legend-label > ins,
.uci-change-legend-label > del,
.uci-change-legend-label > var {
    float: left;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    display: block;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
    line-height: 6px;
    border: none;
}

.uci-change-list var,
.uci-change-list del,
.uci-change-list ins {
    padding: 0.5rem;
}

/* other fix */
#iwsvg,
#iwsvg2,
#bwsvg {
    border: 1px solid #e4eaec !important;
    border-top: none !important;
}

.ifacebox {
    border: 1px solid #e4eaec;
    background-color: #f9f9f9;
}

.ifacebox strong {
    color:#f7f7f7;
}

.cbi-image-button {
    margin: 5px 10px;
}

.zonebadge {
    padding: 0.2rem 0.5rem;
    display: inline-block;
    cursor: pointer;
}

.zonebadge > .ifacebadge {
    padding: 0.2rem 1rem;
    margin: 0.3rem;
    border: 1px solid #6C6C6C;
}

.zonebadge > input[type="text"] {
    padding: 0.16rem 1rem;
    min-width: 10rem;
    margin-top: 0.3rem;
}

.cbi-value-field .cbi-input-checkbox,
.cbi-value-field .cbi-input-radio {
    vertical-align: middle;
}

.cbi-section-table-row > .cbi-value-field .cbi-input-select {
    min-width: 7rem;
}

.cbi-section-create > .cbi-button-add {
    margin: 0.5rem;
}

div.cbi-value var, td.cbi-value-field var {
    font-style: italic;
    color: #0069D6;
}

small {
    font-size: small;
    white-space: normal;
}

.cbi-button-up,
.cbi-button-down {
    display: inline-block;
    min-width: 0;
    padding: 0.2rem 0.3rem;
    font-size: 10pt;
}

.cbi-optionals {
    padding: 1rem 1rem 0 1rem;
    border-top: 1px solid #CCC;
}

#diag-rc-output > pre {
    background-color: #f5f5f5;
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 1.5rem;
    -moz-border-radius: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 10pt;
    color: #76838f;
}

input[name="ping"],
input[name="traceroute"],
input[name="nslookup"] {
    width: 80%;
}

header > .container > .pull-right > * {
    position: relative;
    top: 0.45rem;
    cursor: pointer;
}

#xhr_poll_status > .label.success {
    /*background-color: #14CE14;*/
	background-color: rgb(0,171,232);
}

.label {
    padding: 0.2rem 1rem;
    font-size: 10pt;
    font-weight: bold;
    color: #ffffff !important;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
    text-decoration: none;
	margin-right:20px;
}

.notice {
    background-color: #5BC0DE;
}

.showSide:before {
    display:none;
    color:#76838f;
    content: "\e029";
    font-family: "advancedtomato" !important;
    font-weight: normal !important;
    font-size:14px;
    top: 18px;
    left:10px;
    position: relative;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.darkMask {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.56);
    content: "";
    z-index: 99;
    display: none;
}

/* fix Main Login*/
.node-main-login > .main > .main-left {
    display: none;
}

.node-main-login > .main > .main-right {
    width: 100%;
}

.node-main-login > .main fieldset {
    padding: 5px;
    margin-bottom: 1rem;
    display: inline;
    background: none;
    border: none;
    box-shadow: none;
    overflow: hidden;
}

.node-main-login > .main .cbi-value-title {
    width: 7rem;
}

.node-main-login > .main #maincontent {

    text-align: center;
}

.node-main-login > .main .container {
    display: inline-block;
    padding: 2rem 4rem;
    margin-top: 2rem !important;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    text-align: left;
}

.node-main-login > .main form > div:nth-last-child(1) {
    float: right;
}

.node-main-login > .main .cbi-value {
    display: block;
}

.node-main-login > .main .cbi-value > * {
    display: inline-block !important;
}

.node-main-login > .main .cbi-input-user,
.node-main-login > .main .cbi-input-password {
    min-width: 15rem;
}

.node-main-login footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

/* fix status overview */

.node-status-overview > .main fieldset:nth-child(4) td:nth-child(2) {
    white-space: normal;
}

/* fix status processes */

.node-status-processes > .main table tr td:nth-child(3) {
    white-space: normal;
}

.node-status-iptables > .main div > .cbi-map > form {
    margin: 2rem 2rem 0 0;
}

.cbi-map fieldset h3 {
 padding:10px 0;
 }

.cbi-map fieldset ul li {
    background:#f7f7f7;
    margin-right:0 !important;
}
/* fix system reboot */

.node-system-reboot > .main > .main-right p,
.node-system-reboot > .main > .main-right h3 {
}

/* fix Services  Network Shares*/
.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-title {
    margin-bottom: 1rem;
}

.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-field {
    display: list-item;
}

.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-description {
    padding-top: 1rem;
    line-height:150%;
}

/* fix System Software*/
.node-system-packages > .main table tr td:nth-child(1) {
    width: auto !important;
}

.node-system-packages > .main table tr td:nth-last-child(1) {
    white-space: normal;
    font-size: small;
    color: #76838f;
}

.node-system-packages > .main .cbi-tabmenu > li > a, .tabs > li > a {
    padding: 0.5rem 1rem;
}

.node-system-packages > .main .cbi-value > pre {
    background-color: #eee;
    padding: 0.5rem;
    overflow: auto;
}

.cbi-tabmenu + .cbi-section {
    margin-top: 0;
}

/* fix network firewall*/
.node-network-firewall > .main .cbi-section-table-row > .cbi-value-field .cbi-input-select {
    min-width: 4rem;
}

.node-status-iptables fieldset,
.node-system-packages fieldset,
.node-system-flashops fieldset {
    margin-top: 0;
}

.node-status-iptables .cbi-tabmenu,
.node-system-packages .cbi-tabmenu,
.node-system-flashops .cbi-tabmenu {
    border: none;
}

#cbi-firewall-redirect table *,
#cbi-network-switch_vlan table *,
#cbi-firewall-zone table *{
    font-size: small;
}

#cbi-firewall-redirect table input[type="text"],
#cbi-network-switch_vlan table input[type="text"],
#cbi-firewall-zone table input[type="text"]{
    width: 5rem;
}

#cbi-firewall-redirect table select,
#cbi-network-switch_vlan table select,
#cbi-firewall-zone table select{
    min-width: 3.5rem;
}


/* language fix */
body.lang_pl.node-main-login .cbi-value-title {
    width: 12rem;
}


@media screen and (max-width: 1600px) {
    .main-left {
        /*width: calc(0% + 15rem);*/
    }

    .main-right {
        width: calc(100% - 15rem);
    }

    .cbi-button {
        padding: 0.3rem 0.6rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    header > .container > .pull-right > * {
        top: 0.35rem;
    }

    .label {
        padding: 0.2rem 0.6rem;
    }

    .cbi-value-title {
        width: 15rem;
        padding-right: 0.6rem;
    }

    fieldset {
        padding: 1rem;
    }

    .cbi-input-textarea {
        font-size: small;
    }

    .node-status-iptables > .main fieldset li > a {
        padding: 0.3rem 0.6rem;
    }
}

@media screen and (max-width: 1280px) {
    header {
        /*height: 3.5rem;*/
    }

    header > .container {
        /*margin-top: 0.25rem;*/
    }

    .main {
        top: 3.5rem;
        height: calc(100% - 3.5rem);
    }

    .main-left {
        width: calc(0% + 17rem);
        top: 3.5rem;
        height: calc(100% - 3.5rem);
    }

    .main-right {
        width: calc(100% - 17rem);
    }

    .cbi-tabmenu > li > a, .tabs > li > a {
        padding: 0.2rem 0.5rem;
    }

    .panel-title {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }

    table {
        font-size: 0.8rem !important;
        width: 100% !important;
    }

    .main > .main-left > .nav > li,
    .main > .main-left > .nav > li a,
    .main > .main-left > .nav > .slide > .menu {
        font-size: 1.1rem;
    }

    .main > .main-left > .nav > .slide > .slide-menu > li > a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 992px) {

    header {
        height: 3.5rem;
    }

    header > .container > .brand {
        font-size: 18px;
        height: 3.5rem;
        line-height: 3.5rem;
        width: calc(0% + 15rem);
        /*width: initial;*/
        padding-left: 5px;
        padding-right: 20px;
    }

    .main-left {
        width: 0;
        position: fixed;
        z-index: 100;
    }

    .main-right {
        width: 100%;
    }

    .showSide {
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .showSide:before {
        content: "\e20e";
        font-size: 1.7rem;
    }

    .node-main-login .showSide {
        display: none !important;
    }

    .cbi-value-title {
        width: 9rem;
        padding-right: 1rem;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div * {
        width: 100% !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div input[type="text"] {
        margin: 3rem 0 0 0 !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div:nth-child(4) input[type="text"] {
        margin: 0 !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div select,
    .node-network-diagnostics > .main .cbi-map fieldset > div input[type="button"] {
        margin: 1rem 0 0 0;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div {
        width: 100% !important;
    }

    #diag-rc-output > pre {
        font-size: 1.2rem;
    }

    .node-main-login > .main .cbi-value-title {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    fieldset {
        padding: 1rem;
        margin: 1rem 0 0 0;
        overflow-x: auto;
    }

    .tabs {
        margin: 0 -1rem;
    }

    #maincontent > .container {
        margin: 0 1rem 1.5rem 1rem;
    }

    .main > .main-left > .nav > .slide > .menu {
        font-size: 1.3rem;
    }

    .main > .main-left > .nav > .slide > .slide-menu > li > a {
        font-size: 1.1rem;
    }

    .cbi-value-title {
        width: 100%;
        min-width: 0rem !important;
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .cbi-value-field, .cbi-value-description {
        width: 100%;
    }

    .cbi-value > .cbi-value-field {
        display: inline-block;
    }

    .cbi-tabmenu > li, .tabs > li {
        padding: 0.6rem 0rem;
    }

    .cbi-tabmenu > li > a, .tabs > li > a {
        padding: 0.2rem 0.3rem;
        font-size: 0.9rem;
    }

    .cbi-page-actions > div > input {
        display: none;
    }

    .node-main-login > .main .container {
        padding: 0.5rem 1rem 2rem 1rem;
    }

    .node-main-login > .main .cbi-value {
        padding: 0;
    }

    .node-main-login > .main form > div:nth-last-child(1) {
        margin-top: 2rem;
    }

    .node-main-login > .main .cbi-value-title {
        width: 100% !important;
        font-size: 1.2rem;
    }

    .node-main-login > .main fieldset {
        margin: 0;
        padding: 0.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .tabs > li > a {
        font-size: 0.9rem;
    }

    select,
    input {
        font-size: 0.9rem;
    }

    .mobile-hide {
        display: none;
    }

    .panel-title {
        font-size: 1.4rem;
        padding-bottom: 1rem;
    }

    .node-system-packages > .main .cbi-value.cbi-value-last > div {
        width: 100% !important;
    }

    .node-system-packages > .main .cbi-value .cbi-value-field input {
        width: 100%;
    }

    .node-status-iptables > .main div > .cbi-map > form {
        position: static !important;
        margin: 0 0 2rem 0;
        padding: 2rem;
        border: 0;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        font-family: inherit;
        min-width: inherit;
        overflow-x: auto;
        overflow-y: hidden;
        border-radius: 0;
        background-color: #FFF;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
        -webkit-overflow-scrolling: touch;
    }

    .node-status-iptables > .main div > .cbi-map > form input[type="submit"]{
        width: 100% !important;
        margin: 0;
    }

    .node-status-iptables > .main div > .cbi-map > form input[type="submit"] + input[type="submit"]{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .cbi-value input[type="password"],
    .cbi-value input[type="text"] {
        min-width: 20rem;
    }

    .cbi-value-field .cbi-input-select {
        min-width: 20rem;
    }
}

@media screen and (min-width: 1280px) {
    .cbi-value input[type="password"],
    .cbi-value input[type="text"] {
        min-width: 22rem;
    }

    .cbi-value-field .cbi-input-select {
        min-width: 22rem;
    }
}

@media screen and (min-width: 1600px) {
    .cbi-value input[type="password"],
    .cbi-value input[type="text"] {
        min-width: 25rem;
    }

    .cbi-value-field .cbi-input-select {
        min-width: 25rem;
    }
}
